body {
    border: 3px double black;
    background-color: lightslategrey;
}

#title {
    display:flex;
    justify-content: center;
    align-content: center;
    margin: 30px;
    font-size: 80px;;
    
}

.grid-container{
    background-color: orangered;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  ;
    border: 4px solid yellow;
    

    
    
}

.gridBox {
    border: 3px solid black;
    margin:2px;
    
}

#footer-container {
    background: black;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;

   
}