.grid-container{
    background-color: orangered;
}

.gridBox {
    display: grid;
    grid-template-columns: 200px 100px;
    background-color: rgb(218, 112, 112);
    
}

#footer-container {
    background: black;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;

   
    
}